/* Importando as fontes utilizadas no site */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colocando as variáveis de cores */
:root {
    --bg-primary: #0F1115;
    --bg-secondary: #1E2128;
    --highlight-color: #3B82F6;
    --highlight-color-hover: #60A5FA;
    --text-dark: #FFF
}

/* Estilização html */
html {
    transition: 1s;
    scroll-behavior: smooth;
}

/* Estilizando cor de fundo do body */
body {
    background-color: var(--bg-primary);
}

/* Estilizando cor do texto */
h1,
p,
li,
a,
h2 {
    color: var(--text-dark);
    line-height: 1.6;
}

/* Estilizando tamanho da fonte, alinhamento e qual fonte será utilizada no pagrafo e lista */
p,
li {
    text-align: justify;
    font-size: 1rem;
    font-family: poppins, Arial, Helvetica, sans-serif;
}


/* Estilizando tamanho da fonte e familia do h1 */
h1 {
    font-size: 2rem;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Centralizando h1 */
.container_tool h1,
.container_evolution h1 {
    text-align: center;
}


/* Estilizando o h2 */
h2 {
    font-size: 1.5rem;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Estilizando familida da fonte do titulo de destaque */
.title_hero {
    font-family: cinzel, Arial, Helvetica, sans-serif;
}

/* Transição para troca de cor */
a {
    transition: 0.5s;
}

/* Cor quando o usuário passar o mouse e transição para troca de cor */
a:hover {
    transition: 0.5s;
    color: var(--highlight-color-hover);
}

/* Button padrão */
.button {
    background-color: var(--highlight-color);
    color: var(--text-dark);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

/* Margin padrão */
nav,
.content_hero,
.container_what,
.container_tool,
.container_evolution {
    margin: 0 5rem;
}

/* Button hover padrão */
.button:hover {
    background-color: var(--highlight-color-hover);
    transition: 0.5s;
}

/* bolder */
.bolder {
    font-weight: bolder;
}

/* Começo das estilizações por body */

/* Estilização container hero */
.container_hero {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/gym_hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 15rem;
    margin-bottom: 10rem;
}

/* Estilização da nav bar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

/* Estilização dos itens do menu da nav bar */
.menu_item {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    text-transform: uppercase;
}

/* Estilização do login */
.menu_login {
    gap: 0.5rem;
    text-transform: none;
}

/* Estilização do "|" */
.highlight_color {
    color: var(--highlight-color);
}


/* Conteudo da hero, texto contextualizando */
.content_hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 31.5rem;
    gap: 3rem;
}

/* Estilização do main */
main {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}


/* Começo da estilização da seção O que é */

/* Estilização do container o que é */
.container_what {
    display: flex;
    gap: 3rem;
}

/* Seção do o que é, onde contém os textos */
.section_what {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

/* Limitando largura dos textos */
.section_what p {
    width: 50rem;
}

/* Margin no ultimo p */
.section_what p:last-child {
    margin-left: 10rem;
}

/* Configuração da imagem */
.container_what img {
    width: 569px;
    height: 380px;
    border-radius: 1rem;
}

/* Começo da seção como funciona a progressão de carga */
.container_progression {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

/* Cards explicando a progressão */
.card_progression {
    background-color: var(--bg-secondary);
    padding: 2rem;
    width: 50%;
    border-radius: 20px;
    display: flex;
    gap: 2rem;
}


/* Conteúdo dos cards separado */
.content_progression_response,
.content_progression {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* Card menor */
.card_progression_less {
    width: 25%;
}

/* Largura do texto */
.card_progression p {
    width: 400px;
}

/* Margin da resposta, essa é para nivelar os textos */
.content_progression_response {
    margin-top: 3.3rem;
}


/* Container da parte falando sobre a ferramenta, 
engloba container dos cards e h1 */
.container_tool {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

/* Container que cabe apenas os cards*/
.container_card_data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

/* Colocando imagens de cada card */
.register {
    background-image: url('../assets/register.jpg');
}

.data {
    background-image: url('../assets/data.jpg');
}

.intelligent {
    background-image: url('../assets/alert.jpg');
}

.metric {
    background-image: url('../assets/kpi.jpg');
}

.prevetion {
    background-image: url('../assets/prevetion.jpg');
}

.history {
    background-image: url('../assets/history.jpg');
}

/* Ajustando a imagem do card,
altura, largura do card, borda arredondada,
overflow hidden para não vazar o blur e a imagem dar zoom futuramente*/
.card_data {
    position: relative;
    width: 420px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
}

/* Criando pseudo elemento para ser o blur,
posição absoluta, posiciona em cima do card_data
transição para a animação 
inset diz que tem um elemento ali e que ele prenche todo o espaço
background inherit fala para pegar o background do card_data, como a imagem, cover, center*/
.card_data::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(0px);
    transition: 1s;
}

/* Conteúdo do card */
.content_data {
    position: relative;
    transition: 0.5s;
    color: white;
}

/* Adicionando quando passa o mouse: 
efeito de desfoque (blur),
escurecendo a foto para facilitar leitura,
aumentando a escada da foto, efeito de zoom da imagem por conta do overflow hidden*/
.card_data:hover::before {
    filter: blur(8px) brightness(0.5);
    transform: scale(1.1);
}

/* Transição no context para ele não voltar direto */
.card_data .context {
    transition: 1s;
}

/* Tirando o context, efeito de sumindo */
.card_data:hover .context {
    transition: 1s;
    opacity: 0;
}

/* Descrição presente no site, mas não podendo ser vista */
.card_data .desc {
    transition: 1s;
    opacity: 0;
}

/* Descrição podendo ser vista qunado passa o mouse */
.card_data:hover .desc {
    opacity: 1;
    transition: 1s;
}

/* Container da evolução,
engloba h1 e container de conteudo */
.container_evolution {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Conteudo, imagens e textos */
.container_evolution_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Separando imagem e texto, 2 box */
.content_evolution {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

/* Imagem do conteudo */
.content_evolution img {
    width: 30rem;
    height: 40rem;
    background-position: center;
    border-radius: 20px;
}

/* Inicio do footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    margin-top: 10rem;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
}

/* Tamanho da imagem */
footer img {
    width: 400px;
}

/* Conteúdo do footer */
.content_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* Texto do footer */
.text_footer{
    width: 70%;
    text-align: center;
}

/* menu do footer */
.menu_footer {
    display: flex;
    gap: 3rem;
}

/* Itens do footer */
.menu_footer i {
    font-size: 2rem;
    color: black;
    background-color: #fff;
    padding: 5px;
    border-radius: 5rem;
}